VITE_API_KEY=your-api-key
VITE_SERVER_URL=your-server-url
VITE_SERVER_SOCKET_URL=your-server-ws-url
VITE_SECRET_KEY=key-access
VITE_SERVER_VERSION=your-server-version
VITE_STRIPE_PUBLISHABLE_KEY=your-strip-key
VITE_IMAGE_KYC=