@import url(
  'https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DynaPuff:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IBM+Plex+Mono:wght@400;500&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nokora:wght@100..900&family=Syne:wght@400;600;700&display=swap');
@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #ffffff;
  --border-color: #000000;
  --text-color:  #213547;
  transition: all ease-in-out;

  --table-bg-color: rgba(54, 54, 54, 0.982);
  --theme-color: #fdfdfd;
  --text-transparent: rgba(51, 51, 51, 0.8);
  --background-box-color: #b9b9b9c9;
}

/* Dark mode */
html.dark {
  --bg-color: #000000;
  --border-color: #ffffff;
  --text-color: #ffffff;
  --bg-color-blue: rgb(81, 162, 255);
  --bg-color-blue-2: oklch(27.8% 0.033 256.848);
  --el-bg-color: var(--bg-color-blue-2);
  --el-fill-color-blank: var(--bg-color-blue-2);
  transition: all ease-in-out;
}
/* Dark mode */
a {
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

#app {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.book-theme {
  background-color: var(--theme-color);
  color: var(--text-color);
}

.table-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.table-filter-select {
  padding: 20px 0 5px 30px;
  border-radius: 0.2rem;
  background-color: var(--table-bg-color);
  border: 1px whitesmoke;
}
.table-filter-select .search-input .el-form-item__wrapper {
  margin-right: 0;
  background-color: gray;
}
.table-filter-select .search-item .el-form-item__label {
  color: white;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
